tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style43
	{mso-number-format:"_-* \#\,\#\#0\.00_-\;\\-* \#\,\#\#0\.00_-\;_-* \0022-\0022??_-\;_-\@_-";
	mso-style-name:Comma;
	mso-style-id:3;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:top;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:ARIAL;
	mso-generic-font-family:auto;
	mso-font-charset:1;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style60
	{mso-number-format:0%;
	mso-style-name:Percent;
	mso-style-id:5;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:ARIAL;
	mso-generic-font-family:auto;
	mso-font-charset:1;
	mso-number-format:General;
	text-align:general;
	vertical-align:top;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl79
	{mso-style-parent:style0;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl80
	{mso-style-parent:style0;
	color:white;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#4472C4;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Standard;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl82
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Standard;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl83
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl84
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:"Arabic Transparent";
	mso-generic-font-family:auto;
	mso-font-charset:178;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:178;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl86
	{mso-style-parent:style0;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl87
	{mso-style-parent:style0;
	font-size:22.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl88
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0";
	text-align:center;
	vertical-align:middle;}
.xl89
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl90
	{mso-style-parent:style0;
	color:red;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl91
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#4472C4;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:178;}
.xl93
	{mso-style-parent:style0;
	color:windowtext;
	font-size:14.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl94
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;}
.xl95
	{mso-style-parent:style43;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl96
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:ARIAL, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0";
	text-align:center;
	vertical-align:middle;}
.xl97
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	font-family:ARIAL, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl98
	{mso-style-parent:style0;
	mso-number-format:Standard;
	text-align:center;
	vertical-align:middle;}
.xl99
	{mso-style-parent:style60;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl100
	{mso-style-parent:style43;
	color:white;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#4472C4;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:ARIAL, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl102
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:ARIAL, sans-serif;
	mso-font-charset:0;
	mso-number-format:Standard;
	text-align:center;
	vertical-align:middle;}
.xl103
	{mso-style-parent:style60;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:center;
	vertical-align:middle;}
.xl104
	{mso-style-parent:style60;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl105
	{mso-style-parent:style43;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl106
	{mso-style-parent:style43;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;}
.xl107
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;}
.xl108
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style60;
	color:white;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#4472C4;
	mso-pattern:black none;}
.xl110
	{mso-style-parent:style43;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Fixed;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl111
	{mso-style-parent:style0;
	color:white;
	font-size:22.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#4472C4;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0";
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl113
	{mso-style-parent:style0;
	color:blue;
	font-size:26.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0";
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl114
	{mso-style-parent:style0;
	font-size:22.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;}
.xl115
	{mso-style-parent:style0;
	font-size:48.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl116
	{mso-style-parent:style0;
	font-size:48.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl117
	{mso-style-parent:style0;
	font-size:48.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl118
	{mso-style-parent:style0;
	font-size:36.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl119
	{mso-style-parent:style0;
	font-size:36.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl120
	{mso-style-parent:style0;
	font-size:36.0pt;
	font-weight:700;
	font-family:Tajawal;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
